<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xmlns:aop="http://www.springframework.org/schema/aop"  
 xmlns:tx="http://www.springframework.org/schema/tx"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans   
 http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
 http://www.springframework.org/schema/tx   
 http://www.springframework.org/schema/tx/spring-tx-2.0.xsd   
 http://www.springframework.org/schema/aop   
 http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">  
 	
 	
 	<bean id="userService" class="com.thd.spring.aop.configuration.example02.UserServiceImpl"></bean>  
 	<bean id="myLog" class="com.thd.spring.aop.configuration.example02.MyLogImpl"></bean> 
	<aop:config>
        <!-- 定义切面aspect 横切性关注点所在的类(检查安全性的类)-->
        <aop:aspect id="before" ref="myLog">
            <!-- 定义pointcut 切入点(将横切性关注点添加到什么位置  在什么地方检查安全性)-->
            <aop:pointcut id="operateMethod" expression="execution(* save*(..)) || execution(* update*(..))  || execution(* del*(..))"/>  
            <!-- 定义advice 横切性关注点的内容 (检查安全性的方法) -->
            <aop:before method="beforeMethod" pointcut-ref="operateMethod" />
            <aop:after method="afterMethod" pointcut-ref="operateMethod" />
            <aop:around method="aroundMethod" pointcut-ref="operateMethod" />
            <!-- 务必不要忘记配置throwing参数，且该值应与method参数的方法名的形参名称一致!!!!! -->
            <aop:after-throwing method="throwsMethod" pointcut-ref="operateMethod" throwing="ex"/>
            
        </aop:aspect>
    </aop:config> 
</beans>
	